<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.or.ddit.user.model.UserVO" alias="userVo" />
		<typeAlias type="kr.or.ddit.account.model.AccountVO" alias="accountVo" />
		<typeAlias type="kr.or.ddit.blacklist.model.BlackListVO" alias="blackListVo" />
		<typeAlias type="kr.or.ddit.board.model.BoardVO" alias="boardVo" />
		<typeAlias type="kr.or.ddit.calendar.team_calendar.model.TeamCalendarVO" alias="teamCalendarVo" />
		<typeAlias type="kr.or.ddit.calendar.team_calendar_category.model.TeamCalendarCategoryVO" alias="teamCalendarCategoryVo" />
		<typeAlias type="kr.or.ddit.chat.team_chat.model.TeamChatVO" alias="teamchatVo" />
		<typeAlias type="kr.or.ddit.chat.team_chat_room.model.TeamChatRoomVO" alias="teamchatRoomVo" />
		<typeAlias type="kr.or.ddit.crew.model.CrewVO" alias="crewVo" />
		<typeAlias type="kr.or.ddit.crew.model.UserAndCrewVO" alias="userAndCrewVO" />
		<typeAlias type="kr.or.ddit.domain.common_domain.model.CommonDomainVO" alias="commonDomainVo" />
		<typeAlias type="kr.or.ddit.domain.user_domain.model.UserDomainVO" alias="userDomainVo" />
		<typeAlias type="kr.or.ddit.filtering.model.FilteringVO" alias="filteringVo" />
		<typeAlias type="kr.or.ddit.history.model.HistoryVO" alias="historyVo" />
		<typeAlias type="kr.or.ddit.history.model.HistoryTempVO" alias="historyTempVO" />
		<typeAlias type="kr.or.ddit.history.model.ChangedVO" alias="changedVo" />
		<typeAlias type="kr.or.ddit.manager.model.ManagerVO" alias="managerVo" />
		<typeAlias type="kr.or.ddit.post.model.PostVO" alias="postVo" />
		<typeAlias type="kr.or.ddit.quiz.quiz.model.QuizVO" alias="quizVo" />
		<typeAlias type="kr.or.ddit.quiz.quiz.model.QuizAndAnswerVO" alias="quizAndAnswerVO" />
		<typeAlias type="kr.or.ddit.quiz.quiz_answer.model.QuizAnswerVO" alias="quizAnswerVo" />
		<typeAlias type="kr.or.ddit.quiz.quiz_example.model.QuizExampleVO" alias="quizExampleVo" />
		<typeAlias type="kr.or.ddit.reply.model.ReplyVO" alias="replyVo" />
		<typeAlias type="kr.or.ddit.table_lock.model.TableLockVO" alias="tableLockVo" />
		<typeAlias type="kr.or.ddit.page.model.PageVo" alias="pageVo" />
		<typeAlias type="kr.or.ddit.template.common_template.model.CommonTemplateVO" alias="commonTemplateVo" />
		<typeAlias type="kr.or.ddit.template.user_template.model.UserTemplateVO" alias="userTemplateVo" />
		<typeAlias type="kr.or.ddit.ts_file.model.TSFileVO" alias="tsFileVo" />
		<typeAlias type="kr.or.ddit.dbObject.model.TableVO" alias="tableVo" />
		<typeAlias type="kr.or.ddit.dbObject.model.ViewVO" alias="viewVo" />
		<typeAlias type="kr.or.ddit.dbObject.model.IndexVO" alias="indexVo" />
		<typeAlias type="kr.or.ddit.dbObject.model.TriggerVO" alias="triggerVo" />
		<typeAlias type="kr.or.ddit.sqlEdiotSequence.model.SelectSeqVO" alias="selectSeqVO" />
		<typeAlias type="kr.or.ddit.sqlEdiotSequence.model.DetailSeqVO" alias="detailSeqVO" />
		<typeAlias type="kr.or.ddit.dbObject.model.SequenceVO" alias="sequenceVo" />
		<typeAlias type="kr.or.ddit.dbObject.model.FuncProceVO" alias="funcProceVo" />
		<typeAlias type="kr.or.ddit.invite.model.InviteVO" alias="inviteVo" />
		<typeAlias type="kr.or.ddit.sqlEditorTrigger.model.MyTriggerCodeVO" alias="myTriggerCodeVO" />
		<typeAlias type="kr.or.ddit.sqlEditorTrigger.model.TriggerDetailVO" alias="triggerDetailVO" />
		<typeAlias type="kr.or.ddit.sqlEdiotTable.model.SqlEditorTableVO" alias="sqlTableVO" />
		<typeAlias type="kr.or.ddit.sqlEditorFunction.model.FunctionDetailVO" alias="functionDetailVO" />
		<typeAlias type="kr.or.ddit.sqlEditorProcedure.model.ProcedureDetailVO" alias="procedureDetailVO" />
		<typeAlias type="kr.or.ddit.sqlEditorIndex.model.IndexDetailVO" alias="indexDetailVO" />
		<typeAlias type="kr.or.ddit.sqlEditorIndex.model.IndexColVO" alias="indexColVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/ddit/config/mybatis/mapper/invite.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/tsFile.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/userTemplate.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/commonTemplate.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/tableLock.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/reply.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/quizExample.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/quizAnswer.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/quiz.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/post.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/manager.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/history.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/filtering.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/userDomain.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/commonDomain.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/crew.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/teamChatRoom.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/teamChat.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/teamCalendarCategory.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/teamCalendar.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/board.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/blackList.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/account.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/user.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/plan.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/sqlEditorTable.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/sqlEditorTrigger.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/sqlEditorSequence.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/sqlEditorFunction.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/sqlEditorProcedure.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/testData.xml" />
		<mapper resource="kr/or/ddit/config/mybatis/mapper/sqlEditorIndex.xml" />
	</mappers>
</configuration>