@charset "UTF-8";
#quizHeader{
	text-align: center;
	font-size: 30px;
}
.questionImg{
	width: 150px;
	height: 150px;
	margin-top: 10%;
}
#imgDiv{
	text-align: center;
}
#threeDiv{
	display:inline;
}
.questionDiv{
	margin-left:4%;
	display: inline;
}
#oxDiv{
	text-align: center;
	font-size: 30px;
}
#question{
/* 	text-align: center; */
	font-size: 20px;
	margin-top: 5%;
}
#gruopDiv{
/* 	text-align: center; */
	margin: 0px auto;
	width: 50%;
}