@charset "UTF-8";
#quizHeader{
	text-align: center;
	font-size: 30px;
}
.questionImg{
	width: 150px;
	height: 150px;
	margin-top: 10%;
}
#imgDiv{
	text-align: center;
}
#threeDiv{
	display:inline;
}
.questionDiv{
	margin-left:4%;
	display: inline;
}
#oxDiv{
	text-align: center;
	font-size: 30px;
}
#question{
	font-size: 20px;
/* 	margin-top: 5%; */
	height: 5%;
}
#gruopDiv{
	margin: 0px auto;
	width: 50%;
}
#answer, #explain{
	margin-top: 3%;
	font-size: 20px;
}

#disabledInput{
	height: 300px;
    font-size: 20px;
    overflow: hidden;
}
#insertBtn,#updateOXBtn,#updateOXBtnDB{
    margin-left: 91%;
    margin-top: 2%;
}
