@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
}

/* 스크롤바 CSS */
::-webkit-scrollbar{
	width : 7px;
	background-color: white;
}
::-webkit-scrollbar-thumb{
	border-radius : 15px;
	background-color: black;
}

.chatBotRoom {
	background-color: black;
	width: 600px;
	height: 650px;
}
/* 중앙 최상단 챗봇 텍스트 */
.chatBotHeader {
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 2.5;
}

.chatBotArticle {
	width: 100%;
	height: 541px;
	background-color: #fff;
	overflow-y: auto;
}

.boxChatRoom {
	
}

.chatBotUl {
	display: inline-block;
	width: 100%;
	list-style: none;
	padding-left: 0;
}

.liList {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: inherit;
	word-break: break-word;
	margin-top: 22px;
	display: grid;
}

.chatBotImg {
	width: 45px;
	height: 45px;
	float: left;
}

p.pchatBot {
    margin: 5px 8px;
}

.chatBotDiv {
	padding-left: 45px;
}

.chatBotSpan {
	text-align: left;
	display: block;
}

.chatBotResult {
	border-radius: 15px;
	background-color: black;
	box-shadow: 2px 3px 12px 3px rgba(0, 0, 0, 0.1);
	padding: 0 5px;
    margin : 5px 12px 0 5px;
	line-height: 25px;
	letter-spacing: -1.5px;
	color: white;
	left: 0;
	float: left;
	
}

.profImg {
	width: 35px;
	height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 100%;
	float: right;
}

.userSpan {
	text-align: right;
	display: block;
}

.userResult {
    border-radius: 15px;
    background-color: black;
    box-shadow: -3px 5px 6px 1px rgba(0, 0, 0, 0.1);
    line-height: 25px;
    color: white;
    left: 0;
    float: right;
    margin: 2% 14px 0 20%;
}

.chatBotFooter {
	border-top: 1px solid silver;
	width: 100%;
	height: 58px;
	bottom: 5px;
	text-align: center;
}

.chatBotFooterBox {
	margin-top: 10px;
	margin-right: 10px;
}

/* 채팅 전송 버튼 */
.questionBtn {
	position: relative;
	float: right;
	background: url(/resources/img/submitBtn.png;); no-repeat;
	width: 38px;
	height: 38px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 100%;
}

.userInput {
	float: right;
	position: relative;
	size: auto;
	padding: 0;
	border: none;
	font-size: 14px;
	color: #555;
	line-height: 20px;
	vertical-align: top;
	box-sizing: border-box;
	overflow-y: hidden;
	resize: none;
	border-radius: 3px;
	margin-right: 5px;
	min-width: 460px;
	min-height: 40px;
}

/* 챗봇 버튼 */
.chatBotBtn{
    border-radius: 10px;
    background: white;
    color: black;
    margin: 7px;
    padding: 10px 10px;
    text-align: center;
    border: none;
    transition: all 0.5s;
}

/* 버튼 호버 이벤트 */
.chatBotBtn:hover{background: #717171;color: white;}
.chatBotBtn:hover:after{content: "";}

.chatImg{
	width: 344px;
	height: 217px;
}
.chatImg_sqlEditor{
    width: 533px;
    height: 146px;
}

.editors{
	width: 446px;
	height: 124px;
}

#sqlEditor{
    width: 35px;
    height: 35px;
    border: 7px solid red;
    position: absolute;
    left: 39px;
    top: 373px;
}

#ownerCreate{width: 100%; height: 100%;}

#rightClick{width: 282px; height: 200px;}