@charset "UTF-8";

#leftLayout{
	text-align: center;
	width: 50%;
	height: 100%;
	float:left;
	display: block;
	border-right: 1px solid #c5c5c5;
    padding-right: 25px;
}

#leftTopLayout{
	width: 100%;
	height: 300px;
    font-size: 1.2em;
}

#bottomDiv{
	padding: 10px 10px 10px 10px;
}

#leftBottomLayout{
	width: 100%;
	height: 300px;
    font-size: 1.2em;
    margin-top : 10%;
}
#rightLayout{
/* 	background-color: red; */
	width: 48%;
	height: 738px;
	float:left
}
.itNewsDiv{
	margin-bottom: 39px;
}
.itNewsImg{
    width: 210px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    max-height: 160px;
}
.itNewsTitle{
	color: black;
    font-weight: bold;
    margin-bottom: 25px;
}
.itNewsContent{
	color: gray;
    font-weight: normal;
    font-size: 15px;
}
#itNewsTitle{
	text-align: center;
    margin-bottom: 60px;
    color: black;
}
.infoSpan{
	font-weight: bold;
	font-size: 5.0em;
	color: black;
	border-bottom: 1px solid;
}

.infoAccount{
	font-weight: bold;
	font-size: 4.0em;
	color: black;
	border-bottom: 1px solid;
	position: absolute;
    left: 17%;
    top: 128%;
}
#itNewsSpan{
	font-weight: bold;
	font-size: 5.0em;
    border-bottom: 1px solid;
}
#testImg1 {
    width: 100%;
    height: 350px;
}
#testImg2 {
    width: 100%;
    height: 350px;
}
#testImg3 {
    width: 100%;
    height: 350px;
}
#mainCss{
	width: 100%;
	margin-left: 215px;
}
