@charset "UTF-8";

#leftLayout{
	background-color: blue;
	width: 50%;
	height: 100%;
	float:left;
	display: block;
}

#leftTopLayout{
	background-color: yellow;
	width: 100%;
	height: 369px;
}

#bottomDiv{
	padding: 10px 10px 10px 10px;
}

#leftBottomLayout{
	background-color: green;
	width: 100%;
	height: 369px;
}
#rightLayout{
	background-color: red;
	width: 50%;
	height: 738px;
	float:left
}