@charset "UTF-8";

#mainDiv{
	margin-left: 100px;
    margin-right: 100px;
    height: auto;
/*     background-color: #EAEAEA; */
    
}

#mainDiv:after {content:''; clear:both; zoom:; display:block}

