@CHARSET "UTF-8";

ul, ol, dl, li, dd, dt {margin:0; margin:0}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}


/* 헤더 */
header {
	background-color : white;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 12px; font-weight: bold;
	
}
.navLogo{
    position: absolute;
    padding-left: 30px;
}
#logo{
	width: 40px; 
	height: 40px;
}
.headerContainer{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #EAEAEA;
}
.header-right{
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    padding-top: 2px;
    /* margin-right: 19px; */
    word-spacing: 11px;
    padding-right: 0.5%;
    float: right;
    text-align: right;
    clear: both;
    width: 100%;
    height: 30px;
}

/* MyPage, 로그아웃 */
.aHeader{
	text-decoration: none;	
	color: #EAEAEA;
}

/* 프로필사진 */
#thumbnail{
	width : 25px;
	height : 25px;
	margin-right : 3px;
	margin-bottom : 5px;
	background-size: cover;
	background-repeat : no-repeat; 
	background-position: center center;
	border-radius: 100%;
}


a.aHeader:LINK{
	color: #717171;
}
a.aHeader:VISITED{
	color: #717171;
}
a.aHeader:HOVER{
	color:black;
	padding-bottom : 5px;
	border-bottom: 2px solid black;
}
a.aHeader:ACTIVE{
	color:black;
}
/* 헤더 */
.menubar{
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.menubar ul{
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 35%;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
    /* background: rgb(109,109,109); */
    /* color: #cccccc; */
    display: block;
    /* font-weight: normal; */
    line-height: 50px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:black;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}


.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}


/* 챗봇 */
.chatbot{
	position: fixed;
	bottom : 170px;
	right: 30px;
	
}



.imgRight{
	width: 50px;
	height: 50px;
}

.rightImg{
	cursor :pointer;
}

/* 챗봇,그룹챗 마우스 액션 */
.imgRight:LINK{
	transform:scale(1.1);
}
.imgRight:VISITED{
transform:scale(1.1);
}
.imgRight:HOVER{
transform:scale(1.1);
}
.imgRight:ACTIVE{
	transform:scale(1.1);
}

/* 그룹챗 */
.groupchat{
	position: fixed;
	bottom : 100px;
	right: 30px;
}

