@CHARSET "UTF-8";

ul, ol, dl, li, dd, dt {margin:0; margin:0;}
a{text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
ul a{text-decoration: none;}

.header-right{
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    padding-top: 2px;
    /* margin-right: 19px; */
    word-spacing: 11px;
    padding-right: 0.5%;
    float: right;
    text-align: right;
    clear: both;
    width: 100%;
    height: 30px;
}

/* MyPage, 로그아웃 */
.aHeader{
	text-decoration: none;	
	color: #EAEAEA;
	width : 0;
	transition: all 0.5s;
}

/* 프로필사진 */
#thumbnail{
	width : 25px;
	height : 25px;
	margin-right : 3px;
	margin-bottom : 5px;
	background-size: cover;
	background-repeat : no-repeat; 
	background-position: center center;
	border-radius: 100%;
}


a.aHeader:LINK{
	color: #717171;
}
a.aHeader:VISITED{
	color: #717171;
}


a.aHeader:HOVER{
	width : 100%;
	color:black;
	padding-bottom : 5px;
	border-bottom: 2px solid black;
}
a.aHeader:ACTIVE{
	color:black;
}
/* 헤더 최상단 우측 */
header {
	width:100%;
	display: inline-block;
   	padding: 0 30px 30px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: bold;
	
}

/* 헤더 네비*/

header #lnb { position: absolute; z-index: 20; width: 98%; box-sizing: border-box;}
header #lnb nav {position:relative; border-bottom: 1px solid #e5e5e5; text-align: center; font-size: 0;}
header #lnb nav > ul { display:inline-block; overflow: hidden; height : 59px; transition : all 0.5s;}
header #lnb nav > ul:hover{overflow: visible;}
header #lnb nav + div { position:absolute; left:0; top :0; width:98%; height: 0; background-color: #fff; opacity: 0; box-shadow: inset 0 -1px 0 0 #e5e5e5; transition : all 0.5s;}
header #lnb nav:hover + div{height: 250px; opacity: 1;}
header #lnb nav > ul > li {display: inline-block; position: relative;}
header #lnb nav > ul > li > a{ display:block; position : relative; width: 180px; height : 60px; font-size: 18px; color: black; line-height: 60px; }
header #lnb nav > ul > li > a:after {content: ""; position: absolute; left : 50%; bottom: -1px; width: 0; height: 2px; background: black; transition : all 0.5s;}
header #lnb nav > ul > li:hover > a:after{ left: 0; width: 100%;}
header #lnb nav > ul ul { position: absolute; width : 100%; height:190px; padding: 22px 0 0; text-align: center; opacity: 0; transition : all 0.5s;}
header #lnb nav > ul:hover ul {display: block; opacity: 1;}
header #lnb nav > ul ul li{line-height: 39px;}
header #lnb nav > ul ul a{position: relative; font-size: 14px; color : black; transition : all 0.5s;}
header #lnb nav > ul ul a:hover{color: #e5e5e5;}
/* 챗봇 */
.chatbot{
	position: fixed;
	bottom : 170px;
	right: 30px;
	
}



.imgRight{
	width: 50px;
	height: 50px;
}

.rightImg{
	cursor :pointer;
}

/* 챗봇,그룹챗 마우스 액션 */
.imgRight:LINK{
	transform:scale(1.1);
}
.imgRight:VISITED{
transform:scale(1.1);
}
.imgRight:HOVER{
transform:scale(1.1);
}
.imgRight:ACTIVE{
	transform:scale(1.1);
}

/* 그룹챗 */
.groupchat{
	position: fixed;
	bottom : 100px;
	right: 30px;
}

