@CHARSET "UTF-8";

ul, ol, dl, li, dd, dt {margin:0; margin:0}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}


/* 헤더 */
header {
	background-color : white;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 12px; font-weight: bold;
	
}

.header-right{
	margin-right : 20px;
	word-spacing : 10px;
	float: right;
	clear: both;
	
}

/* MyPage, 로그아웃 */
.aHeader{
	text-decoration: none;	
	color: silver;
}

/* 프로필사진 */
#thumbnail{
	width : 25px;
	height : 25px;
	margin-right : 3px;
	margin-bottom : 5px;
	background-size: cover;
	background-repeat : no-repeat; 
	background-position: center center;
	border-radius: 100%;
}


a.aHeader:LINK{
	color: silver;
}
a.aHeader:VISITED{
	color: silver;
}
a.aHeader:HOVER{
	color:black;
	padding-bottom : 5px;
	border-bottom: 2px solid black;
}
a.aHeader:ACTIVE{
	color:black;
}


/* 헤더 */


#user{
	width: 20px;
	height: 20px;
	display: inline-block;
}


/* 네비 */
.navMenu {
	width: 100%;
	border-bottom : 1px solid silver;
	text-align: center;
	overflow : hidden; 
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 20px; font-weight: bold;
}

.ul-header-one {}
.ul-header-one:after {content:''; display:block; zoom:1; clear:both;}
.one:hover ul{display: block;}

.ul-header-two{display: none;height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
line-height: 30px;
}


.ul-header-one li{
	list-style: none;
	outline: 30px; 
	margin:0 30px;
	display: inline-block;
	
}

.li-two{
	line-height: 30px;
	padding: 0;
	margin: 0 ;
	display : block !important;
	clear : both;
	text-align: left;
	
}

.two-menu{
	width: 100%;
	text-align: center;
	overflow : hidden; 
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 20px; font-weight: bold;
	line-height: 10px;
	color: black;
}


a.aNav {
	text-decoration: none;	
	color:black;
	line-height: 40px;
	display:block;
	
}

/* 메뉴 마우스 액션 */
a.aNav:HOVER{
	color:black;
	padding-bottom : 2px;
	border-bottom: 2px solid black;
	}
a.aNav:ACTIVE{
	color:black;
}

a.two-menu:HOVER{
	color:black;
	padding-bottom : 5px;
}

a.two-menu:active{
	color:black;
}

/* 챗봇 */
.chatbot{
	position: fixed;
	bottom : 170px;
	right: 30px;
	
}



.imgRight{
	width: 50px;
	height: 50px;
}

.rightImg{
	cursor :pointer;
}

/* 챗봇,그룹챗 마우스 액션 */
.imgRight:LINK{
	transform:scale(1.1);
}
.imgRight:VISITED{
transform:scale(1.1);
}
.imgRight:HOVER{
transform:scale(1.1);
}
.imgRight:ACTIVE{
	transform:scale(1.1);
}

/* 그룹챗 */
.groupchat{
	position: fixed;
	bottom : 100px;
	right: 30px;
}

