@CHARSET "UTF-8";

body {
	margin: 3px;
}

ul, ol, dl, li, dd, dt {margin:0; margin:0}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}


/* 헤더 */
header {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.header-left{
	margin-right : 20px;
	word-spacing : 10px;
	float: right;
	clear: both;	
}
.aHeader{
	text-decoration: none;	
	color: silver;
}

a.aHeader:LINK{
	color: black;
}
a.aHeader:VISITED{
	color: silver;
}
a.aHeader:HOVER{
	color:black;
}
a.aHeader:ACTIVE{
	color:black;
}


/* 헤더 */


#user{
	
	width: 20px;
	height: 20px;
	display: inline-block;
}


/* 네비 */
nav {
	width: 100%;
	border: 1px solid #EAEAEA;
	border-left: none;
	border-right: none;
	text-align: center;
	overflow : hidden; 
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 20px; font-weight: bold;
}

.ul-header-one {margin:0 auto; width:790px }
.ul-header-one:after {content:''; display:block; zoom:1; clear:both}
.one:hover ul{display: block;}

.ul-header-two{display: none;height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
line-height: 30px;
}


.ul-header-one li{
	list-style: none;
	float: left;
	outline: 30px; 
	margin:0 30px;
	
}

.li-two{
	line-height: 30px;
	padding: 0;
	margin: 0 !important;
	display : block;
	clear : both;
	text-align: left;
	
}

.two-menu{
	width: 100%;
	text-align: center;
	overflow : hidden; 
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 20px; font-weight: bold;
	line-height: 10px;
	color: black;
}


a.aNav {
	text-decoration: none;	
	color:black;
	line-height: 40px;
	display:block;
	
}


a.aNav:HOVER{
	color:black;
}
a.aNav:ACTIVE{
	color:black;
}

a.two-menu:HOVER{
	color:black;
}

a.two-menu:active{
	color: black;
}

/* 네비 */
.chatbot{
	position: fixed;
	top: 555px;
	left: 1420px;
}

.groupchat{
	position: fixed;
	top: 600px;
	left: 1420px;
}


footer {
	clear: both;
	width: 100%;
	height: 50px;
}

iframe {
	overflow : auto;
	width: 100%;
	height: 580px;
	border:none;	
	
}



#copy {
	border: 1px solid #EAEAEA;
	border-bottom: none;
	border-left: none;
	border-right: none;
	font-size: 22px;
}


