@charset "UTF-8";

.indexMenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.indexMenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.indexMenu li span {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: ease .2s;
  cursor: pointer;
}

.indexMenu li:hover {
  background: black;
  border-left: 3px solid black;
}

.indexMenu li:hover span {
  color: #FFFFFF;
}

#modal_index{
	width: 622px;
}

#select_1{
    width: 50px;
    border: none;
}
#td_select{
	margin-left : 100px;
    width: 400px;
}
#updateSelect_1{
    width: 50px;
    border: none;
}
#td_select{
	margin-left : 100px;
    width: 400px;
}

#pAndm{
	float: right;
}

.table, .table-hover, .index{
}

#td_indexType{
	width: 100px;
}

#td_indexType_select{
    margin-left: 100px;
    width: 400px;
}

#expression{
    width: 359px;
}

#order{
	width : 220px;
}

#table_scroll{
	overflow-y : auto; 
}

#createIndexBtn{
	float: right;
}

.plustBtn{
	width: 17px;
	height: 17px;	
	cursor: pointer;
}
.minusBtn{
	width: 17px;
	height: 17px;
	cursor: pointer;	
}

#selectedTable_name:disabled{
	background: #dddddd;
    color: black;
}