@charset "UTF-8";

.viewPackageMenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.viewPackageMenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.viewPackageMenu li span {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: ease .2s;
  cursor: pointer;
}

.viewPackageMenu li:hover {
  background: black;
  border-left: 3px solid black;
}

.viewPackageMenu li:hover span {
  color: #FFFFFF;
}
.viewManagerText {
	width : 100px;
	height : 20px;
	margin: 1px;
}
.viewManagerSelectBox {
	width : 100px;
	height : 24px;
	margin: 1px;
	padding: 3px;
}

/* 생성버튼 */
#createViewBtn{
	float: right;
    margin-top: 14px;
    left: 2px;	
}