@charset "UTF-8";

#seqLegend{
	text-align: center;
}

.sequenceMenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.sequenceMenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.sequenceMenu li span {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: ease .2s;
  cursor: pointer;
}

.sequenceMenu li:hover {
  background: black;
  border-left: 3px solid black;
}

.sequenceMenu li:hover span {
  color: #FFFFFF;
}

#seqModal{
    margin-top: 2%;
    margin-left: 31%;
    width: 20%;
}