@charset "UTF-8";

.modal_index{
    height: 723px;
    width: 622px;
    margin-left: 31%;
    margin-top: 3%;
}

.indexPackageMenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.indexPackageMenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.indexPackageMenu li span {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: ease .2s;
  cursor: pointer;
}

.indexPackageMenu li:hover {
  background: black;
  border-left: 3px solid black;
}

.indexPackageMenu li:hover span {
  color: #FFFFFF;
}


#table-scroll{
    overflow-y: auto;
    width: 608px;
    height: 354px;
}

#index_table{
    width: 591px;
}

#createIndexBtn{
    float: right;
    margin-top: 14px;
    left: 7px;
}

