@charset "UTF-8";
#editorView{
	height: 745px;
}

#editorView:after{
	content: '';
	clear: both;
	display: block;
	zoom: 1;
}

#leftBar{
	float: left;
	width: 15%;
	height: 745px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
}

#worksheet{
	float: left;
	width: 78%;
	height: 745px;
	border: 1px solid;
}

#resultViewSpan{
	margin-left: 10px;
}

#worksheetView{
	border-bottom: 1px solid;
	resize: none;
}

#resultView{
	resize: none;
}

.imgBtn{
	width: 20px;
	height: 20px;
}